  <aside id="chat_characters">
    <p>People in this room:
      fake
    </p>
  </aside>
  <article id="chat_texts">
    <span id="chat_text_1">fake (now): text</span><br>
    <span id="chat_text_2">fake (now): text</span><br>
    <span id="chat_text_3">fake (now): text</span><br>
    <span id="chat_text_4">fake (now): text</span><br>
    <span id="chat_text_5">fake (now): text</span><br>
    <span id="chat_text_6">fake (now): text</span><br>
    <span id="chat_text_7">fake (now): text</span><br>
    <span id="chat_text_8">fake (now): text</span><br>
    <span id="chat_text_9">fake (now): text</span><br>
    <span id="chat_text_10">fake (now): text</span><br>
    <span id="chat_text_11">fake (now): text</span><br>
    <span id="chat_text_12">fake (now): text</span><br>
    <span id="chat_text_13">fake (now): text</span><br>
    <span id="chat_text_14">fake (now): text</span><br>
    <span id="chat_text_15">fake (now): text</span><br>
    <span id="chat_text_16">fake (now): text</span><br>
    <span id="chat_text_17">fake (now): text</span><br>
    <span id="chat_text_18">fake (now): text</span><br>
    <span id="chat_text_19">fake (now): text</span><br>
    <span id="chat_text_20">fake (now): text</span><br>
    <span id="chat_text_21">fake (now): text</span><br>
    <span id="chat_text_22">fake (now): text</span><br>
    <span id="chat_text_23">fake (now): text</span><br>
    <span id="chat_text_24">fake (now): text</span><br>
    <span id="chat_text_25">fake (now): text</span><br>
  </article>
