includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Array \(array<callable\(Nette\\Forms\\Form, mixed\): void>\) does not accept Closure\(Nette\\Application\\UI\\Form, array\): void#'
        - '#Call to an undefined method ReflectionType::getName\(\)#'
    universalObjectCratesClasses:
        - Nette\Bridges\ApplicationLatte\Template
