includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - '#Access to an undefined property Nette\\Localization\\ITranslator::\$lang#'
        - '#Method HeroesofAbenez\\Chat\\DI\\ChatExtension::getDatabaseAdapter\(\) should return string but returns HeroesofAbenez\\Chat\\IDatabaseAdapter#'
        - '#Method Nette\\DI\\CompilerExtension::getConfig\(\) invoked with 1 parameter, 0 required#'
    universalObjectCratesClasses:
        - Nette\Bridges\ApplicationLatte\Template
