includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    excludePaths:
        - %rootDir%/../../../src/ChatCommand.php
        - %rootDir%/../../../src/IDatabaseAdapter.php
        - %rootDir%/../../../src/IChatMessageProcessor.php
    ignoreErrors:
    universalObjectCratesClasses:
        - Nette\Bridges\ApplicationLatte\Template
