application:
    scanDirs: false
    mapping:
        *: HeroesofAbenez\Chat\*Presenter
routing:
    routes:
        "<presenter>/<action>": "Chat:default"
extensions:
    chat: HeroesofAbenez\Chat\DI\ChatExtension
    translation: Nexendrie\Translation\Bridges\NetteDI\TranslationExtension
chat:
    databaseAdapter: HeroesofAbenez\Chat\FakeDatabaseAdapter
    chats:
        example: HeroesofAbenez\Chat\ExampleChatControlFactory
translation:
    default: en
    localeResolver: manual
    loader:
        folders!:
            - %appDir%/../src/lang
mytester:
    colors: true
    coverageFormat: cobertura
